@import 'testDriveStyle';

.banner {
    background: linear-gradient(88.23deg, #6F73EE 40.95%, rgba(111, 115, 238, 0) 70.45%), url(../img/mapBG.jpg) right no-repeat;
    background-size: contain;
    border-radius: 10px;
    padding: 75px 0;

    h2 {
        text-align-last: left;
    }
}

.adressesList {
    text-align: center;

    input {
        display: none;
    }

    label {
        background: #F4F7FB;
        border-radius: 5px;
        font-size: 16px;
        line-height: 23px;
        color: #5D6C7B;
        padding: 15px 25px;
        margin-right: 20px;
        display: inline-block;
        margin-top: 50px;
    }

    input:checked + label {
        color: #6F73EE;
        border: 1.3px solid #6F73EE;
        background: transparent;
    }

    input:checked:nth-of-type(1) ~ .adressesBlocks > .adresseAndPhones:first-child {
        margin-left: 0;
    }

    input:checked:nth-of-type(2) ~ .adressesBlocks > .adresseAndPhones:first-child {
        margin-left: -100%;
    }
    
    input:checked:nth-of-type(3) ~ .adressesBlocks > .adresseAndPhones:first-child {
        margin-left: -200%;
    }
    
    input:checked:nth-of-type(4) ~ .adressesBlocks > .adresseAndPhones:first-child {
        margin-left: -300%;
    }
    
    input:checked:nth-of-type(5) ~ .adressesBlocks > .adresseAndPhones:first-child {
        margin-left: -400%;
    }

    .adressesBlocks {
        text-align-last: left;
        margin-top: 50px;
        display: flex;
        overflow-x: hidden;

        .adresseAndPhones {
            display: flex;
            text-align: center;
            flex: 0 0 100%;
            transition: 0.3s;

            .adressesText {
                margin-right: 50px;

                h5 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #282739;
                    margin-right: 30px;
                    margin-bottom: 30px;
                }

                & > ul {

                    & > li {
                        font-size: 18px;
                        line-height: 26px;
                        color: #282739;
                        margin-bottom: 30px;
                        padding-left: 58px;

                        &:first-of-type {
                            background: url(../img/localV.svg) left 11px center no-repeat, url(../img/listBG.jpg) left repeat-y;
                        }

                        &:nth-of-type(2) {
                            background: url(../img/phoneV.svg) left 11px center no-repeat, url(../img/listBG.jpg) left repeat-y;
                        }

                        &:last-of-type {
                            background: url(../img/warningV.svg) left 11px center no-repeat, url(../img/listBG.jpg) left repeat-y;
                        }

                        span {
                            font-size: 14px;
                            line-height: 20px;
                            color: #5D6C7B;
                        }

                        & > p {
                            margin-bottom: 20px;
                        }

                        & > ul {
                            display: flex;

                            & > li {
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }

            iframe {
                width: 40%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

.marketing {
    background: #F4F7FB;
    border-radius: 10px;
    margin-top: 100px;

    & > .container {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;

        & > ul {

            & > li {
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                color: #282739;

                span {
                    font-size: 14px;
                    line-height: 20px;
                    color: #5D6C7B;
                }

                &:first-of-type {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    text-transform: uppercase;
                    color: #282739;
                }
            }

            &:not(:last-of-type) {

                & > li:nth-of-type(2) {
                    background: url(../img/at.svg) left no-repeat;
                    margin-top: 20px;
                }

                & > li:nth-of-type(3) {
                    background: url(../img/phoneV.svg) left no-repeat;
                    margin-top: 20px;
                }

                & > li:nth-of-type(4) {
                    background: url(../img/vViber.svg) left no-repeat;
                    margin-top: 20px;
                }

                & > li:nth-of-type(5) {
                    display: inline-block;
                    background: #6F73EE;
                    border: 1.3px solid #6F73EE;
                    border-radius: 5px;
                    padding: 10px 20px;
                    font-size: 12px;
                    line-height: 17px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 20px;
                }

                & > li:not(:first-of-type) {
                    padding-left: 32px;
                }
            }

            &:last-of-type {

                & > li {

                    &:nth-of-type(2) {
                        margin-top: 45px;
                    }

                    & > a {
                        color: #6F73EE;
                    }
                }
            }

            &:nth-of-type(2) {

                & > li:nth-of-type(2) {
                    margin-top: 45px;
                }
            }
        }
    }
}