@media all and (max-width: 1700px) {

    body {
        overflow-x: hidden;
    }

    .banner {
        background-size: cover;
    }

    .galleryService {
        grid-template-columns: auto auto;
        justify-content: space-evenly;

        & > iframe {
            grid-column: 1/3;
            height: 567px;
        }
    }

    .bannerDrive {
        background-size: cover;
    }

    .blogContent {
        
        & > img {
            width: 900px;
        }
    }
}

@media all and (max-width: 1500px) {

    .test-drive {
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 1190px) {
    
    body {
        overflow-x: hidden;
    }

    .container {
        width: 960px;
    }

    .banner {
        
        & > .container {
            
            .absoluteDiv {
                left: 650px;
            }
        }
    }

    .actionsList {
        
        .actionsItem {
            padding-left: 195px;

            &:nth-of-type(1), &:nth-of-type(4) {
                background: url(../img/fourGift.png) bottom 20px left 20px no-repeat, url(../img/gymGirl.jpg) left -44px top no-repeat, #F4F7FB;
                background-size: auto, 230px;
            }

            &:nth-of-type(2), &:nth-of-type(3) {
                background: url(../img/cheholBG.jpg) left -20px top no-repeat, #F4F7FB;
                background-size: 210px;
            }
        }
    }

    .catalogItems {
        grid-template-columns: auto auto auto;
    }

    .catalogForSale {
        
        .catalogForSaleItems {
            
            .formForCatalog {
                margin-right: 10px;
            }

            .catalogForSaleItemsBlocks {
                gap: 10px;

                .catalogItemSelect {
                    background: url(../img/scooterBG.png) left 51px top 206px no-repeat,url(../img/sitScooterBG.png) right 26px top 410px no-repeat,url(../img/selectSomeBG.png) center bottom no-repeat,#F4F7FB;
                }
            }
        }
    }

    .blog {
        
        .newsItems {
            grid-template-columns: repeat(2, auto);

            .newsItem {

                img {
                    width: calc(100% + 40px);
                }
            }
        }
    }

    .oficialDealer {
        
        .testDriveButton {
            padding-top: 526px;
        }
    }

    .marketing {
        
        & > .container {
            flex-wrap: wrap;

            & > ul {
                margin-bottom: 20px;
            }
        }
    }

    .visited {
        
        .visitedItems {
            flex-wrap: wrap;
            justify-content: space-evenly;

            .catalogItem {
                margin-top: 30px;
            }
        }
    }

    .footer {
        
        .footerTop {
            
            form {
                
                input {
                    flex: 0 0 40%;
                }
            }
        }
    }

    .footerBottom {
        
        .ourContacts {
            
            .contacts {
                
                & > ul:first-child {
                    margin-right: 35px;
                }
            }

            .addresses {
                margin-left: 50px;
            }
        }

        .social {
            flex-wrap: wrap;
            justify-content: space-evenly;

            & > ul:last-child {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }

    .yourQuestions {
        
        .innerQuestions {
            
            img {
                right: 10%;
            }
        }
    }

    .changeModel {
        
        & > div  {
            padding-right: 162px;
        }
    }

    .galeriesHeader {
        
        .galeriesInputs {
            display: grid;
            grid-template-columns: auto auto;
            gap: 15px;
        }
    }

    .galleryService {
        width: auto;
    }

    .productDesription {
        
        .description {
            
            .gifs {
                margin-bottom: 15px;
            }

            .fullCost{
                
                & > button:last-of-type {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }
    }

    .howMatchList {
        display: none;
    }

    .serviceBanner {
        background: url(../img/DronLightBlueBG.png) right bottom -50px no-repeat, #F4F7FB;
    }

    .howMatch {
        display: none;
    }
}

@media all and (max-width: 980px) {
    
    body {
        overflow-x: hidden;
    }

    .container {
        width: 720px;
    }

    .header-search {
        flex-wrap: wrap;

        & > ul {
            margin-left: auto;
            margin-top: 15px;
        }
    }

    .header-search .catalog-button:hover>.catalogList, .header-search .catalog-button>.catalogList:hover {
        flex-direction: column;
        padding: 15px;
        width: 300px;
        height: 688px;
    }

    .header-search .catalog-button>.catalogList>ul:first-of-type, .header-search .catalog-button>.catalogList>ul:nth-of-type(2) {
        margin-right: 0;
    }

    .header-search .catalog-button>.catalogList>ul:not(:first-of-type) {
        text-align: center;
    }

    .header-search>ul li:first-child:hover>div {
        left: auto;
        right: 0;
    }

    .menu {
        margin-top: 15px;

        .menu-list {

            & > ul {
                justify-content: space-between;

                li {
                    margin-right: 0;
                }
            }
        }
    }

    .actionsList {
        
        .actionsItem{
            
            &:nth-of-type(1), &:nth-of-type(4) {
                background: url(../img/fourGift.png) bottom 278px right 20px no-repeat, url(../img/gymGirl.jpg) left top no-repeat, #F4F7FB;
                background-size: auto, contain;
                padding: 454px 30px 21px 30px;

                & > a {
                    margin-top: 58px;
                }
            }

            &:nth-of-type(2), &:nth-of-type(3) {
                background: url(../img/cheholBG.jpg) left top 0px no-repeat,#F4F7FB;
                background-size: contain;
                padding: 454px 30px 21px 30px;
        
                & > a {
                    margin-top: 10px;
                }
            }
        }
    }

    .footer {
        
        .footerTop {
            align-items: center;
        }
    }

    .footerBottom {
        
        .ourContacts {
            display: block;

            .contacts {
                justify-content: space-around;
            }
        }

        .payment {
            
            & > p {
                
                a {
                    margin-right: 15px;
                }
            }
        }
    }

    .catalogItems {
        grid-template-columns: auto auto;

        .catalogItem {
            
            h4 {
                margin-top: 311px;
            }
        }
    }

    .oficialDealer {
        
        .testDriveButton {
            padding: 0;
            padding-top: 433px;
        }
    }

    .topCategories {
        grid-template-columns: auto auto auto;
    }

    .catalogForSale {

        .catalogForSaleItems {

            .catalogForSaleItemsBlocks {
                grid-template-columns: auto auto;

                .catalogItem {
                    
                    h4 {
                        margin-top: 211px;
                    }
                }
            }
        }
    }

    .adressesList {

        .adressesBlocks {

            .adresseAndPhones {
                display: block;

                iframe {
                    width: 100%;
                    height: 500px;
                }

                .adressesText {
                    
                    & > ul {

                        & > li {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .invites {
        display: block;

        .invitesText {

            h2 {
                text-align: center;
            }
        }

        .invitesLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
    }

    .yourQuestions {

        .innerQuestions {
            
            img {
                display: none;
            }
        }
    }

    .regions {

        input + label {
            display: inline-block;
            margin-top: 10px;
        }

        .terms{

            & > div {
                
                ul:last-of-type {
                    flex-wrap: wrap;

                    li:not(:nth-of-type(2)){

                        & > p {
                            margin-top: 82px;
                        }
                    }
                }
            }
        }
    }

    .catalogHeader {

        .catalogInputs {
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
        }
    }

    .changeModel {
        flex-direction: column;
        align-items: center;

        & > div:first-of-type {
            margin: 0;
            margin-bottom: 20px;
        }

        & > div:last-of-type {
            padding-right: 197px;
        }
    }

    .whyAreWe {
        
        ul {
            
            li {
                margin-right: 25px;
            }
        }
    }

    .banner {
        background: linear-gradient(88.23deg, #6F73EE 24.95%, rgba(111, 115, 238, 0) 200%);
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;

        & > .container {

            & > ul {
                flex-direction: column;
        
                & > li {
                    margin-bottom: 15px;
                    margin-right: 0;
                }
            }

            .video {
                margin-left: 57px;
            }
           

            .absoluteDiv {
                left: 440px;
            }
        }
    }

    .aboutUs {
        
        .certificate {
            display: none;
        }
    }

    .galeriesHeader {
        
        .galeriesInputs {
            display: grid;
            grid-template-columns: auto auto;
            gap: 15px;
        }
    }

    .test-drive {
        
        img {
            display: none;
        }
    }

    .galleryService {
        grid-template-columns: auto;
        
        & > img {
            margin-right: auto;
            margin-left: auto; 
        }

        & > iframe {
            grid-column: 1/2;
            height: 267px;
        }
    }

    .productDesription {
        display: block;

        .productPhotos {
            height: auto;
            justify-content: center;
            margin: 0;
            margin-bottom: 50px;

            .largePhoto {
                width: 640px;
                height: 506px;
            }
        }
    }

    .whatDoesService {

        .hidroizol, .setting {
            flex: 0 0 50%;
        }

        .setting {
            
            img {
                width: 350px;
            }
        }
    }

    .serviceBanner {
        background: #F4F7FB;
    }

    .zoomDiagnostic {
        
        & > .container {
            
            .imgZoom {
                
                & > img {
                    display: none;
                }
            }
        }
    }

    .orders {
        
        .testOrders {
            background: url(../img/phoneBG.png) right 90px bottom -80px no-repeat;
            background-size: 200px;
            padding-left: 15px;
        }
    }

    .bannerDrive{
        
        & >.container {
            padding-left: 15px;

            & > button{
                
                & + div {
                    
                    .bgModal {
                        
                        .modalBlock {
                            padding: 40px;
                            background: #FFF;

                            .lastPlace {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .whatIsTest {
        
        .model, .learn {
            display: block;
        }

        .model {
            
            img {
                margin-top: 50px;
            }
        }

        .learn {
            
            img {
                margin-bottom: 50px;
            }
        }
    }

    .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlock, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlock {
        padding-right: 241px;
    }

    .blogContent {
        
        img {
            width: 700px;
        }
    }

    .diagnostic {
        display: block;
        
        .diagnosticBorder {
            margin-right: auto;
            margin-left: auto;
        }    
    }

    .zoomDiagnostic {

        & > .container {
            padding-right: 15px;
        }
    }
}

@media all and (max-width: 750px) {
    
    body {
        overflow-x: hidden;
    }

    .container {
        width: 540px;
    }

    .header-search {
        justify-content: center;

        & > ul {
            margin-left: 0;
        }
    }

    .header-search .catalog-button:hover>.catalogList, .header-search .catalog-button>.catalogList:hover {
        left: -140px;
    }

    .header-search>ul li:first-child:hover>div {
        right: auto;
    }

    .menu {
        
        .menu-list {
            
            & > ul {
                display: grid;
                grid-template-columns: auto auto auto auto;
                
                & > li {
                    margin-right: 50px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .banner {
        display: none;
    }

    .actionsList {
        
        .actionsItem {
            
            &:nth-of-type(1), &:nth-of-type(4) {
                background: url(../img/fourGift.png) bottom 268px right 20px no-repeat,url(../img/gymGirl.jpg) left top no-repeat,#F4F7FB;
                background-size: auto, contain;
                padding: 334px 30px 21px 30px;
            }

            &:nth-of-type(2), &:nth-of-type(3) {
                padding: 334px 30px 21px 30px;
            }
        }
    }

    .footer {

        .footerTop {
            display: block;
            text-align: center;

            form {
                margin-left: 0;
                margin-top: 15px;
                justify-content: space-around;
            }
        }
    }

    .footerBottom {

        .payment {
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            & > ul:first-of-type {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }

    .catalogItems {
        
        .catalogItem {
            
            h4 {
                margin-top: 221px;
            }
        }
    }

    .blog {

        .blogHeader {

            .blogLinks {
                display: grid;
                grid-template-columns: auto auto;
                gap: 10px;

                & > a {
                    margin: 0;
                }
            }
        }
    }

    .topCategories {
        grid-template-columns: auto auto;
    }

    .catalogForSale {

        .catalogForSaleHeader {
            display: block;
    
            & > h2 {
                margin-bottom: 20px;
            }
        }
        
        .catalogForSaleItems {
            
            .catalogForSaleItemsBlocks {
                grid-template-columns: auto;

                .catalogItemSelect {
                    padding-bottom: 320px;
                    background: url(../img/scooterBG.png) left 51px top 166px no-repeat,url(../img/sitScooterBG.png) right 26px top 300px no-repeat,url(../img/selectSomeBG.png) center bottom no-repeat,#F4F7FB;
                }

                .catalogItem {
                    
                    h4 {
                        margin-top: 211px;
                    }
                }
            }
        }
    }

    .galleryService {
        
        iframe {
            height: 267px;
        }
    }

    .ourPluses {
        
        .moreInform {
            
            .market, .service {
                grid-template-columns: auto auto;

                div:last-child {
                    
                    & > a {
                        display: inline-block;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    .whyAreWe {
        display: none;
    }

    .faq {
        
        .questions {
            width: auto;
            
            &:nth-child(1) > input:checked ~ .answer {
                height: 120px;
            }

            &:nth-child(2) > input:checked ~ .answer {
                height: 310px;
            }

            &:nth-child(3) > input:checked ~ .answer {
                height: 330px;
            }

            &:nth-child(4)>input:checked ~ .answer {
                height: 190px;
            }
        }
    }

    .catalogHeader {
        flex-wrap: wrap;

        h2 {
            margin-bottom: 20px;
        }
    }

    .feedback {
        
        .feedbackItems {
            grid-template-columns: auto auto;
        }
    }

    .oficialDealer {
        
        .testDriveButton {
            display: none;
        }
    }

    .deliver {
        margin: 30px 0;
    }

    .humanResources {

        h2 {
            width: auto;
        }
    
        .hrs {
            grid-template-columns: auto auto;
        }
    }

    .whatDoesService {
        
        .setting {
            display: block;
            padding-left: 66px;

            img {
                display: none;
            }
        }

        .hidroizol {
            display: block;

            .hidroizolVideo {
                height: 300px;
                margin-bottom: 50px;
            }
        }
    }

    .adressesService {
        
        .adresses {
        
            & > .container {
                display: block;
                text-align: center;

                & > ul {
                    
                    & > li:first-of-type {
                        margin-top: 50px;
                    }

                    & > li:nth-of-type(2) {
                        background: url(../img/localV.svg) left 150px top 3px no-repeat;
                    }                

                    & > li:nth-of-type(3) {
                        background: url(../img/phoneV.svg) left 150px top 5px no-repeat;
                    }

                    & > li:nth-of-type(4) {
                        background: url(../img/warningV.svg) left 150px top 8px no-repeat;
                    }
                }
            }
        }
    }

    .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlock, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlock {
        padding: 40px;
        background: url(../img/EllipseBlueBG.png) right bottom no-repeat,#FFF;
    }

    .zoomDiagnostic {
        margin-left: 0;
        margin-right: 0;
        
        & > .container {
            
            .zoomText {
                
                button {
                    
                    & + div {
                        
                        .bgModal {
                            
                            .modalBlock, .modalBlockService {
                                
                                form {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .blogContent {
        
        img {
            width: 500px;
        }
    }

    .costHidroizolAndSetting {
        
        label {
            display: inline-block;
            margin-bottom: 15px;
        }
    }

    .serviceBanner {
        
        & > .container {
            
            h2 {
                font-size: 25px;
            }
        }
    }

    .galeriesHeader {
        flex-direction: column;
    }

    .test-drive {
        text-align: center;

        .formData {
            
            form {
                
                input {
                    margin-right: 0;
                }
            }
        }
    }

    .orders {
        
        .testOrders {
            background: transparent;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .yourQuestions {
        
        .innerQuestions {
            
            & > .container {
                
                form {
                    
                    input[type="tel"] {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .bannerDrive {
        margin-right: 0;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .whatIsTest {
        
        .learn {
            
            img {
                margin-right: 0;
            }
        }
    }
}

@media all and (max-width: 560px) {

    body {
        padding: 15px;
        overflow-x: hidden;
    }

    .container {
        width: auto;
    }

    .header-top {

        & > ul {
            display: block;
            margin-right: 30px;

            &:first-child {
            
                li {
                    margin-right: 10px;
                }
            }
        }
    }

    .header-search .search {
        margin-left: 0;
    }

    .menu {

        .menu-list {

            & > ul {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    margin: 0;
                    margin-bottom: 10px;

                    &:nth-of-type(2) {
                        margin: 0;
                    }
                }
            }
        }
    }

    .actionsList {
        grid-template-columns: auto;

        .actionsItem {

            &:nth-of-type(2), &:nth-of-type(3) {
                background: url(../img/cheholBGsmall.jpg) left top -164px no-repeat,#F4F7FB;
                background-size: contain;
                padding: 284px 30px 21px 30px;
        
                & > a {
                    margin-top: 30px;
                }
            }

            &:nth-of-type(1), &:nth-of-type(4) {
                background: url(../img/fourGift.png) bottom 268px right 20px no-repeat,url(../img/gymGirl.jpg) center top no-repeat,#F4F7FB;
                background-size: auto, 250px;
                padding: 334px 30px 21px 30px;
            }
        }
    }

    .footerBottom {
        
        .ourContacts {
            
            .addresses {
                margin-left: 0;

                ul:last-of-type {
                    
                    & > li:not(li:last-of-type) {
                        margin-right: 30px;
                    }
                }
            }

            .contacts {
                display: block;
                text-align: center;

                & > ul:first-child {
                    margin-right: 0;
                }

                & > ul:nth-of-type(2) {
                    margin-top: 30px;
                }

                & > ul:last-child {
                    margin: 0;
                }
            }
        }

        .payment {
                
            p {
                margin-left: 50px;
            }
        }

        .social {

            h2 {
                margin-right: 0;
            }
            
            & > ul:last-child {
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
    }

    .catalogItems {
        grid-template-columns: auto;

        .catalogItem {
            
            h4 {
                margin-top: 441px;
            }
        }
    }

    .blog {
        
        .blogHeader {

            .blogInputs {
                display: grid;
                grid-template-columns: auto auto;
                gap: 5px;

                & > a {
                    margin: 0;
                }
            }
        }

        .newsItems {
            grid-template-columns: auto;
        }
    }

    .oficialDealer {

        .testDriveButton {
            display: none;
        }
    }

    .videoContent {

        .videoHeader {
            flex-direction: column;
            
            h2 {
                font-size: 25px;
                width: auto;
                text-align: center;
            }
        }
        
        .iframes {
            
            & > div {
                
                iframe {
                    width: 271px;
                    height: 160px;
                }
            }
        }
    }

    .catalogForSale {

        .catalogForSaleHeader {
            
            .selectors select:nth-of-type(2) {
                margin-left: 110px;
                margin-top: 15px;
            }
        }
        
        .catalogForSaleItems {
            display: block;

            .catalogForSaleItemsBlocks {
                
                .catalogItem {
                    
                    h4 {
                        margin-top: 451px;
                    }
                }

                .catalogItemSelect {
                    background: url(../img/scooterBG.png) left 51px top 196px no-repeat,url(../img/sitScooterBG.png) right 26px top 300px no-repeat,url(../img/selectSomeBG.png) center bottom no-repeat,#F4F7FB;
                }
            }

            .formForCatalog {
                text-align: center;
            }
        }
    }

    .yourQuestions {
        
        .innerQuestions {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;

            & > .container {
                
                form {
                    
                    input[type="tel"] {
                        padding-right: 15px;
                    }
                }
            }
        }
    }

    .orders {
        
        .testOrders {
            background: none;

            h2 {
                font-size: 25px;
                width: auto;
                text-align: center;
            }

            & > ul:last-of-type {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .topCategories {
        grid-template-columns: auto;
    }

    .deliver {
        display: none;
    }

    .changeModel {
        margin-bottom: 50px;

        & > div {

            &:first-of-type{
                padding-right: 67px;
            } 
            
            &:last-of-type {
                padding-right: 107px;
            }
        }
    }

    .banner {
        display: none;
    }

    .ourPluses {

        h2 {
            padding: 0;
            font-size: 25px;
            width: auto;
            text-align: center;
        }

        input + label {
            display: inline-block;
            margin-top: 15px;
        }
        
        .moreInform {
            
            .market, .service {
                grid-template-columns: auto;
            }
        }
    }

    .galleryService {

        & > img {
            width: 300px;
        }
        
        iframe {
            height: 287px;
        }
    }

    .galeriesHeader {
        display: block;
        
        h2 {
            font-size: 25px;
            width: auto;
            text-align: center;
        }
    }

    .humanResources {
        
        h2 {
            width: auto;
            font-size: 25px;
            text-align: center;
        }

        .hrs {
            grid-template-columns: auto;
        }
    }

    .test-drive {
        display: block;
        text-align: center;
        margin-right: 0;
        margin-left: 0;

        .formData {
            
            h2 {
                font-size: 25px;
                width: auto;
            }

            form {

                input {
                    margin-right: 0;
                    padding-right: 15px;
                }
                
                button {
                    padding: 15px 20px;
                }
            }
        }
    }

    .costHidroizolAndSetting {

        & > .container {
            
            & > div {
                display: block;
            }
        }
        
        input + label {
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    .zoomDiagnostic {
        margin-left: 0;
        margin-right: 0;
        
        & > .container {
            display: block;
            text-align: center;

            .zoomText {
                
                h2 {
                    font-size: 25px;
                }
            }
        }
    }

    .diagnostic {
        display: block;

        .diagnosticBorder {
            margin-left: 0;
            width: auto;
            height: auto;

            .diagnosticBackground {
                width: 300px;
                height: 300px;
            }
        }
    }

    .adressesService {
        
        .adresses {
            
            & > .container {
                
                & > ul {

                    & > li:nth-of-type(2) {
                        background: url(../img/localV.svg) left top 3px no-repeat;
                    }
                    
                    & > li:nth-of-type(3) {
                        background: url(../img/phoneV.svg) left top 5px no-repeat;
                    }

                    & > li:nth-of-type(4) {
                        background: url(../img/warningV.svg) left top 8px no-repeat;
                    }
                }
            }
        }
    }

    .faq {

        h2 {
            font-size: 25px;
            width: auto;
            text-align: center;
        }
        
        .questions {
            
            .question:nth-child(2)>input:checked ~ .answer {
                height: 350px;
            }

            .question:nth-child(3)>input:checked ~ .answer {
                height: 350px;
            }

            .question:nth-child(4)>input:checked ~ .answer {
                height: 230px;
            }
        }
    }

    .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlock h2, .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlockService h2, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlock h2, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlockService h2 {
        font-size: 18px;
    }

    .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlock, .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlockService, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlock {
        width: 300px;
        text-align: center;
    }

    .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlock form button, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlock form button, .footerBottom .ourContacts .addresses a+div .bgModal .modalBlockService form button{
        padding: 15px 37px;
        margin-right: 0;
    }

    .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlock form input[type="tel"], .header-top>ul:first-child li:last-of-type>div .bgModal .modalBlockService form input[type="tel"],
    .footerBottom .ourContacts .addresses a+div .bgModal .modalBlock form input[type="tel"], .footerBottom .ourContacts .addresses a+div .bgModal .modalBlockService form input[type="tel"] {
        padding-right: 0;
    }

    .footer {
        
        .footerTop {
            
            form {
                display: block;

                button {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }
    }

    .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlock, .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlockService, .serviceBanner > .container button + div .bgModal .modalBlock, .serviceBanner > .container button + div .bgModal .modalBlockService {
        width: 300px;
        text-align: center;
    }

    .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlock h2, .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlockService h2, .serviceBanner > .container button + div .bgModal .modalBlock h2, .serviceBanner > .container button + div .bgModal .modalBlockService h2 {
        font-size: 18px;
    }

    .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlock form button, .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlockService form button, .serviceBanner > .container button + div .bgModal .modalBlock form button, .serviceBanner > .container button + div .bgModal .modalBlockService form button {
        padding: 15px 51px;
        margin-right: 0;
    }

    .serviceBanner > .container button + div .bgModal .modalBlock form input[type="tel"], .serviceBanner > .container button + div .bgModal .modalBlockService form input[type="tel"] {
        padding-right: 0;
        margin-right: 0;
    }

    .whatIsTest {

        & + h2 {
            font-size: 25px;
        }
        
        .model, .learn {
            
            img {
                width: 250px;
                display: block;
                margin-right: auto;
                margin-left: auto;
            }

            .text {

                h2 {
                    font-size: 25px;
                    width: auto;
                    text-align: center;
                }
            }
        }
    }

    .blogContent {
        
        img {
            width: 300px;
        }
    }

    .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlock form input[type="checkbox"]:not(input[type="checkbox"]:last-of-type) + label:nth-of-type(3), .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlockService form input[type="checkbox"]:not(input[type="checkbox"]:last-of-type) + label:nth-of-type(3) {
       margin-right: auto; 
    }

    .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlock form input[type="checkbox"]:not(input[type="checkbox"]:last-of-type) + label, .zoomDiagnostic > .container .zoomText button + div .bgModal .modalBlockService form input[type="checkbox"]:not(input[type="checkbox"]:last-of-type) + label {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .bannerDrive{
        padding: 15px;
        
        & >.container {
            
            h2 {
                font-size: 25px;
            }
        }
    }

    .aboutUs .aboutUsText h2, 
    .feedback h2,
    .news h2,
    .regions h2,
    .invites .invitesText h2,
    .topCategoriesHeader h2,
    .catalogHeader h2,
    .oficialDealer .dscOficialDealer h2 {
        font-size: 25px;
        width: auto;
        text-align: center;
    }

    .marketing {
        
        & > .container {
            padding-left: 15px;
        }
    }

    .productDesription {
        
        .description {
            text-align: center;

            & > ul:first-of-type,
            & > ul:nth-of-type(3) {
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
            }
        }
    }

    .deliver + h2 + input + label, .catalogForSaleHeader > h2 + input + label + input + label {
        display: inline-block;
    }

    .deliver + h2 + input + label + input:checked + label {
        display: none;
    }

    .deliver + h2 + input:checked + label {
        display: none;
    }

    .deliver + h2 + input:checked + label + input + label {
        display: inline-block;
    }

    .deliver + h2 + input + label + input:checked + label ~ .catalogForSale > .catalogForSaleItems > .formForCatalog {
        display: none;
    }

    .deliver + h2 + input:checked + label ~ .catalogForSale > .catalogForSaleItems > .formForCatalog {
        display: block;
    }

    .serviceBanner {
        text-align: center;

        & > .container h2 {
            font-size: 25px;
            width: auto;
            text-align: center;
        }
    }
}