.main {
    width: 375px;
    hight: 78px;
    }
    .star {
    background-image: url('stars-1.png');
    float: right;
    height: 78px;
    width:75px;
    }
    .star:hover, .star:hover ~ .star {
    background-position-y: bottom;
    }
    