@import 'variable';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 90;

    & > .closed {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 30px;
        background: url('../img/crossClose.png') center no-repeat;
        background-size: cover;
        border: none;
        opacity: 0.5;
        cursor: pointer;
        z-index: 99;
    }

    & > .closed:hover {
        opacity: 1;
    }

    & > .leftButton, & > .rightButton {
        position: absolute;
        width: 100px;
        height: 228px;
        top: calc(50% - 114px);
        opacity: 0.3;
        cursor: pointer;
        z-index: 99;
    }

    & > .leftButton:hover, & > .rightButton:hover {
        opacity: 0.7;
    }

    & > .rightButton {
        background: url(../img/nextButton.png) center no-repeat;
        background-size: contain;
        border: none;
        right: 30px;
    }

    & > .leftButton {
        background: url(../img/nextButton.png) center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        border: none;
        left: 30px;
    }

    .galleryImages {

        & > img {
            display: block;
            margin: auto;
            animation: opened 0.150s;
            width: auto;
            height: 100vh;
        }

        & > a {
            display: block;
            background: white;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            position: absolute;
            bottom: 0;
            color: black;
            transition: 0.152s;
            font-family: $Vollkorn;
            font-size: $f17;
            line-height: 22px;
            text-align: center;
            color: $fullBlack; 
        }
    }
}

#button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: 0.5s;
    background: url(../img/arrow.png) center no-repeat, white;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px white inset;
    cursor: pointer;
}

.header {
    background: url(../img/logo.PNG) left center no-repeat;
    background-size: contain;
    padding-top: 41px;
    padding-bottom: 45px;
    display: flex;
    justify-content: end;

    & > ul {
        display: flex;

        li {
            margin-left: 34px;
            font-family: $Montserrat;
            font-size: $f12;
            line-height: 20px;
            text-transform: uppercase;
            color: $gray;
        }
    }
}

.banner {
    background: url(../img/headerBG.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 100px;

    .textBanner {
        text-align: center;

        h2 {
            font-family: $Montserrat;
            font-size: $f44;
            line-height: 55px;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 28px;
        }

        & > span {
            display: block;
            width: 80px;
            height: 2px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
            background: $white;
        }

        & > p {
            font-family: $Vollkorn;
            font-size: $f15;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.81);
        }
    }
}

.invite {
    background: $lightOrange;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;

    .inviteText {
        text-align: center;

        & > p {
            font-family: $Vollkorn;
            font-size: $f18;
            line-height: 25px;
            color: $lightGray;
            margin-bottom: 40px;
        }

        & > a {
            display: block;
            padding: 20px 34px;
            font-family: $Vollkorn;
            font-size: $f16;
            line-height: 20px;
            color: $lightGray;
            border: 1px solid $lightGray;
            width: 160px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    & > img {
        position: absolute;
        right: calc(50% - 26px);
        top: -26px;
    }
}

.process {
    padding-top: 80px;
    padding-bottom: 75px;

    h2 {
        margin-bottom: 28px;
        font-family: $Montserrat;
        font-size: $f23;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
    }

    & > span {
        width: 80px;
        height: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: rgba(0, 0, 0, 0.09);
        margin-bottom: 43px;
    }

    .processItems {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        justify-content: center;

        & > div {
            padding-top: 219px;

            h3 {
                font-family: $Montserrat;
                font-size: $f16;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: $black;
                background: $white;
                padding-top: 38px;
                padding-bottom: 20px;
            }

            p {
                font-family: $Vollkorn;
                font-size: $f15;
                line-height: 22px;
                text-align: center;
                color: $black;
                background: $white;
            }

            &:first-of-type {
                background: url(../img/target.svg) top 50px center no-repeat, $blueGray;
            }

            &:nth-of-type(2) {
                background: url(../img/window.svg) top 50px center no-repeat, $blueGray;
            }

            &:last-of-type {
                background: url(../img/grafic.svg) top 50px center no-repeat, $blueGray;
            }
        }
    }
}

.projects {
    padding-top: 80px;
    padding-bottom: 90px;
    background: $blueGray;

    h2 {
        margin-bottom: 28px;
        font-family: $Montserrat;
        font-size: $f23;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
    }

    & > span {
        width: 80px;
        height: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: rgba(0, 0, 0, 0.09);
        margin-bottom: 43px;
    }

    .projectItems {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        justify-content: center;
        align-items: center;

        & > img {
            width: 100%;
            cursor:pointer;
        }
    }
}

.feedback {
    padding-top: 70px;
    padding-bottom: 100px;

    & > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 65px;
    }

    .feedbackItem {
        display: flex;
        justify-content: center;

        & > div {

            h3 {
                font-family: $Vollkorn;
                font-size: $f26;
                line-height: 33px;
                text-align: center;
                color: $black;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 24px;
                margin-bottom: 10px;
            }

            p {
                font-family: $Montserrat;
                font-size: $f14;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: #ABABAB;
            }

            &:first-of-type {
                margin-right: 70px;
                padding-right: 52px;
                border-right: 2px solid rgba(0, 0, 0, 0.04);
            }
        }
    }
}

.contacts {
    padding-top: 80px;
    padding-bottom: 75px;
    background: url(../img/bgContacts.jpg) top center no-repeat;
    background-size: cover;

    h2 {
        margin-bottom: 28px;
        font-family: $Montserrat;
        font-size: $f23;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
    }

    & > span {
        width: 80px;
        height: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: rgba(0, 0, 0, 0.09);
        margin-bottom: 43px;
    }

    .contactsItem {

        & > ul {
            display: flex;
            justify-content: space-around;

            li {
                font-family: $Montserrat;
                font-size: $f16;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: $black;

                & > span {
                    font-family: $Vollkorn;
                    font-size: $f17;
                    line-height: 22px;
                    text-align: center;
                    color: $fullBlack;
                    text-transform:capitalize;
                    display: inline-block;

                    & > a {
                        font-family: $Vollkorn;
                        font-size: $f17;
                        line-height: 22px;
                        text-align: center;
                        color: $fullBlack; 
                        text-transform:capitalize;
                    }
                }

                & > a {
                    font-family: $Vollkorn;
                    font-size: $f17;
                    line-height: 22px;
                    text-align: center;
                    color: $fullBlack; 
                    text-transform:capitalize;
                    display: inline-block;
                }

                &:first-of-type {

                    &::before {
                        content: url(../img/local.svg);
                        display: block;
                        margin-bottom: 26px;
                    }

                    & > span {
                        margin-top: 20px;
                    }
                }

                &:nth-of-type(2) {

                    &::before {
                        content: url(../img/list.svg);
                        display: block;
                        margin-bottom: 41px;
                    }

                    & > span {
                        margin-top: 20px;
                    }
                }

                &:last-of-type {

                    &::before {
                        content: url(../img/heart.svg);
                        display: block;
                        margin-bottom: 35px;
                    }

                    & > a {
                        margin-bottom: 10px;

                        &:first-of-type {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

.form {
    background: url(../img/logoW.png) center bottom -30px no-repeat, #000;
    padding-top: 80px;
    padding-bottom: 150px;
    background-size: 190px;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 574px;
        margin-left: auto;
        margin-right: auto;

        input {
            font-family: $Vollkorn;
            font-style: italic;
            font-size: $f17;
            line-height: 22px;
            text-align: left;
            color: $white;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 30px;
            border: none;
            background: rgba(255, 255, 255, 0.18);

            &:nth-of-type(2) {
                background: rgba(255, 255, 255, 0.2);
            }
        }

        textarea {
            font-family: $Vollkorn;
            font-style: italic;
            font-size: $f17;
            line-height: 22px;
            text-align: left;
            color: $white;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 30px;
            border: none;
            background: rgba(255, 255, 255, 0.2);
        }

        button {
            width: 210px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 59px;
            font-family: $Vollkorn;
            font-style: italic;
            font-size: $f17;
            line-height: 22px;
            text-align: center;
            color: $blue;
            border: 1px solid #7EC4BD;
            background: transparent;
        }
    }
}

@keyframes opened {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: auto;
      height: 90vh;
    }
  }
  
  @keyframes prev {
    from {
      margin-right: 100%;
      opacity: 0;
    }
    
    20% {
      margin-right: 90%;
      opacity: 0.1;
    }
    
    40% {
      margin-right: 80%;
      opacity: 0.2;
    }
    
    60% {
      margin-right: 70%;
      opacity: 0.4;
    }
    
    80% {
      margin-right: 60%;
      opacity: 0.7;
    }
    to {
      margin-right: auto;
      opacity: 1;
    }
  }
  
  @keyframes next {
    from {
      margin-left: 100%;
      opacity: 0;
    }
    
    20% {
      margin-left: 90%;
      opacity: 0.1;
    }
    
    40% {
      margin-left: 80%;
      opacity: 0.2;
    }
    
    60% {
      margin-left: 70%;
      opacity: 0.4;
    }
    
    80% {
      margin-left: 60%;
      opacity: 0.7;
    }
    to {
      margin-left: auto;
      opacity: 1;
    }
  }
  
  @keyframes leftout {
    from {
      margin-left: auto;
      opacity: 1;
    }
    
    20% {
      margin-left: 60%;
      opacity: 0.7;
    }
    
    40% {
      margin-left: 70%;
      opacity: 0.4;
    }
    
    60% {
      margin-left: 80%;
      opacity: 0.2;
    }
    
    80% {
      margin-left: 90%;
      opacity: 0.1;
    }
    
    to {
      margin-left: 100%;
      opacity: 0;
    }
  }
  
  @keyframes rightout {
    from {
      margin-right: auto;
      opacity: 1;
    }
    
    20% {
      margin-right: 60%;
      opacity: 0.7;
    }
    
    40% {
      margin-right: 70%;
      opacity: 0.4;
    }
    
    60% {
      margin-right: 80%;
      opacity: 0.2;
    }
    
    80% {
      margin-right: 90%;
      opacity: 0.1;
    }
    
    to {
      margin-right: 100%;
      opacity: 0;
    }
  }