//fonts
$Montserrat: 'Montserrat', sans-serif;
$Vollkorn: 'Vollkorn', serif;

//font-size
$f12: 12px;
$f14: 14px;
$f15: 15px;
$f16: 16px;
$f17: 17px;
$f18: 18px;
$f23: 23px;
$f26: 26px;
$f44: 44px;

//color
$gray: #404040;
$white: #FFFFFF;
$lightGray: #47474F;
$veryLightGray: #ABABAB;
$fullBlack: #212121;
$black: #333333;
$blue: #8BCAC3;

//bg colors
$lightOrange: #FEFEC9;
$blueGray: #F5F5F5;
$zeroBlack: #000000;