h2, h4 {
    text-align: center;
    }

figure {
         text-align: center;
        }

div {
     width: 50%;
     display: flex;
     float: left;
    }

.plus {
        color: green;
       }

.minus {
           color: red;
          }