@import 'serviceStyle';

.banner {
    background: linear-gradient(88.23deg, #6F73EE 50.95%, rgba(111, 115, 238, 0) 70.45%), url(../img/scooterOnStreetBG.jpg) right no-repeat;
}

.oficialDealer {
    margin-top: 90px;
}

.catalogHeader {

    h2 {
        text-align: center;
        width: 100%;
    }
}