* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
  height: 10000px; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

ul {
  padding: 0; }

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.header {
  border-bottom: 1px solid #ECF3FF; }

/*header-top*/
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    .header-top ul:first-child li {
      font-size: 12px;
      line-height: 17px;
      color: #5D6C7B;
      margin: 11px 30px 11px 0; }
    .header-top ul:nth-child(2) li {
      margin: 10px 12px 14px 0; }
  .header-top span {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #282739;
    margin-left: auto;
    margin-top: 11px; }
    .header-top span:after {
      content: url(../img/plus.svg);
      margin-left: 9px;
      vertical-align: -5px; }

/*header-search*/
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-search span {
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    color: #282739;
    margin-top: 27px; }
  .header-search .catalog-button {
    width: 114px;
    height: 40px;
    background: #6F73EE;
    border-radius: 5px;
    padding: 8px 18px 9px 0;
    margin-top: 30px;
    margin-left: 35px; }
    .header-search .catalog-button span {
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF; }
  .header-search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 43px;
    padding: 0;
    margin-left: 47px; }
    .header-search ul li:last-child::before {
      content: url(../img/bascket.svg);
      margin-right: 10px;
      vertical-align: -3px; }
    .header-search ul li:not(li:first-child) {
      margin-left: 26px; }
    .header-search ul li:last-child {
      vertical-align: 3px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #282739; }
  .header-search .search {
    border: 1.5px solid #6F73EE;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .header-search .search select {
      border: none;
      background: #F4F7FB;
      border-radius: 5px;
      font-size: 14px;
      line-height: 20px;
      color: #282739;
      padding: 4px 0 5px 14px;
      margin: 4px; }
    .header-search .search input {
      font-size: 14px;
      line-height: 20px;
      color: #5D6C7B;
      margin-left: 20px;
      height: 100%;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      border: none; }
    .header-search .search > button {
      cursor: pointer;
      background: #6F73EE;
      border-radius: 0px 5px 5px 0px;
      border: 5px solid #6F73EE;
      justify-self: end; }

/*menu*/
.menu {
  background: #F4F7FB;
  margin-top: 35px; }
  .menu .menu-list {
    padding: 10px 0 10px 0; }
    .menu .menu-list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0; }
      .menu .menu-list ul li {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #282739;
        margin-right: 50px; }
        .menu .menu-list ul li.active {
          background: #6F73EE;
          border-radius: 300px;
          font-size: 10px;
          line-height: 14px;
          color: #FFFFFF;
          height: 20px;
          width: 106px;
          text-align: center;
          padding-top: 3px; }
      .menu .menu-list ul li:nth-child(2) {
        margin-right: 8px; }
      .menu .menu-list ul li:last-child:after {
        content: url(../img/procent.svg);
        margin-left: 8px;
        vertical-align: -5px; }

.bread-crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px; }
  .bread-crumbs ul li {
    font-size: 12px;
    line-height: 17px; }
    .bread-crumbs ul li:first-child {
      color: #5D6C7B; }
      .bread-crumbs ul li:first-child::before {
        content: url(../img/Home.svg);
        margin-right: 6px; }
      .bread-crumbs ul li:first-child::after {
        content: "/";
        color: #5D6C7B;
        margin-left: 6px;
        margin-right: 6px; }

.banner {
  background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url(../img/main-banner.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: 30px;
  margin-right: 30px; }
  .banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .banner .container .text-banner h2 {
      width: 474px;
      margin-bottom: 34px;
      font-weight: 600;
      font-size: 35px;
      line-height: 51px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .banner .container .text-banner ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .banner .container .text-banner ul li {
        margin-right: 43px;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF; }
        .banner .container .text-banner ul li span {
          font-weight: 600;
          font-size: 25px;
          line-height: 36px;
          text-transform: uppercase;
          display: block;
          margin-top: 2px; }
        .banner .container .text-banner ul li:first-child span {
          margin-top: 18px; }
    .banner .container .video {
      margin-left: 257px;
      padding-top: 92px; }
      .banner .container .video img {
        margin-left: 23px; }
      .banner .container .video p {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8; }

.aboutUs {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .aboutUs .aboutUsText {
    color: #282739;
    display: block;
    margin-right: 87px; }
    .aboutUs .aboutUsText h2 {
      font-weight: 600;
      font-size: 35px;
      line-height: 51px;
      text-transform: uppercase;
      margin-bottom: 34px; }
    .aboutUs .aboutUsText h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px; }
    .aboutUs .aboutUsText p {
      font-size: 18px;
      line-height: 26px;
      margin-top: 15px;
      margin-bottom: 22px; }
    .aboutUs .aboutUsText ul {
      margin-top: 20px; }
      .aboutUs .aboutUsText ul li {
        margin-bottom: 10px; }
        .aboutUs .aboutUsText ul li::before {
          content: url(../img/CheckCircle.svg);
          margin-right: 11px;
          vertical-align: -5px; }
  .aboutUs .certificate {
    height: 322px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 452px;
            flex: 0 0 452px;
    background: url(../img/certificate.jpg) no-repeat center;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .aboutUs .certificate img {
      height: 42px;
      display: block; }

.ourPluses {
  margin-top: 100px;
  text-align: center; }
  .ourPluses h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #282739;
    margin-bottom: 18px;
    padding: 0 92px 0 92px; }
  .ourPluses p {
    font-size: 20px;
    line-height: 29px;
    color: #282739;
    text-align: center;
    margin-bottom: 50px; }
  .ourPluses input {
    display: none; }
  .ourPluses input:checked + label {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #6F73EE;
    border: 1.3px solid #6F73EE;
    background: transparent; }
  .ourPluses label {
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #5D6C7B;
    background: #F4F7FB;
    border: none;
    margin-right: 20px; }
  .ourPluses #service:checked ~ .moreInform > .market {
    margin-left: -100%; }
  .ourPluses .moreInform {
    margin-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    text-align: left; }
    .ourPluses .moreInform .service div:last-child {
      background: url(../img/drille.png) no-repeat right bottom, #F4F7FB; }
    .ourPluses .moreInform .market {
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .ourPluses .moreInform .market div:last-child {
        background: url(../img/bgCatalog.png) no-repeat right bottom, #F4F7FB; }
    .ourPluses .moreInform .market, .ourPluses .moreInform .service {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 30px; }
      .ourPluses .moreInform .market div, .ourPluses .moreInform .service div {
        padding: 71px 21px 26px 20px;
        border: 1px solid #EAEBED;
        border-radius: 10px; }
        .ourPluses .moreInform .market div h4, .ourPluses .moreInform .service div h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: #282739;
          margin-bottom: 8px; }
        .ourPluses .moreInform .market div p, .ourPluses .moreInform .service div p {
          font-size: 14px;
          line-height: 18px;
          color: #282739;
          text-align: left; }
        .ourPluses .moreInform .market div:first-child, .ourPluses .moreInform .service div:first-child {
          background: url(../img/bascket.svg) no-repeat 20px 28px; }
        .ourPluses .moreInform .market div:nth-child(2), .ourPluses .moreInform .service div:nth-child(2) {
          background: url(../img/wallet.svg) no-repeat 20px 28px; }
        .ourPluses .moreInform .market div:nth-child(3), .ourPluses .moreInform .service div:nth-child(3) {
          background: url(../img/checkStar.svg) no-repeat 20px 28px; }
        .ourPluses .moreInform .market div:nth-child(4), .ourPluses .moreInform .service div:nth-child(4) {
          background: url(../img/location.svg) no-repeat 20px 28px; }
        .ourPluses .moreInform .market div:nth-child(5), .ourPluses .moreInform .service div:nth-child(5) {
          background: url(../img/bgProcent.svg) no-repeat 20px 28px; }
          .ourPluses .moreInform .market div:nth-child(5) p a, .ourPluses .moreInform .service div:nth-child(5) p a {
            font-size: 14px;
            line-height: 20px;
            color: #6F73EE; }
        .ourPluses .moreInform .market div:last-child a, .ourPluses .moreInform .service div:last-child a {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #6F73EE; }
          .ourPluses .moreInform .market div:last-child a:after, .ourPluses .moreInform .service div:last-child a:after {
            content: url(../img/Arrow.svg);
            margin-left: 8px; }

.humanResources {
  margin-top: 100px; }
  .humanResources h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #282739;
    margin-bottom: 49px;
    width: 583px;
    margin-left: auto;
    margin-right: auto; }
  .humanResources .functionsResources {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 67px; }
    .humanResources .functionsResources div {
      border: 1px solid #EAEBED;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #282739;
      padding: 23px 19px 23px 26px; }
      .humanResources .functionsResources div:first-child:before {
        content: url(../img/scooter.png);
        float: left;
        margin-right: 32px; }
      .humanResources .functionsResources div:last-child:before {
        content: url(../img/hr.png);
        float: left;
        margin-right: 34px; }
  .humanResources .hrs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px; }
    .humanResources .hrs .peaple:first-child div {
      background: url(../img/hr1.png) no-repeat center bottom, #F4F7FB; }
    .humanResources .hrs .peaple:nth-child(2) div {
      background: url(../img/hr2.png) no-repeat center bottom, #F4F7FB; }
    .humanResources .hrs .peaple:nth-child(3) div {
      background: url(../img/hr3.png) no-repeat center bottom, #F4F7FB; }
    .humanResources .hrs .peaple:last-child div {
      background: url(../img/hr4.png) no-repeat center bottom, #F4F7FB; }
    .humanResources .hrs .peaple div {
      width: 100%;
      height: 316px;
      border: 1px solid #F4F7FB;
      border-bottom: 2px solid #6F73EE;
      border-radius: 10px 10px 0px 0px; }
    .humanResources .hrs .peaple h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #282739;
      margin-top: 20px;
      margin-bottom: 3px; }
    .humanResources .hrs .peaple p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #5D6C7B; }

.galeriesHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 43px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .galeriesHeader h2 {
    width: 515px;
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-transform: uppercase;
    color: #282739; }
  .galeriesHeader ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .galeriesHeader ul li {
      background: #F4F7FB;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #5D6C7B;
      padding: 15px 25px;
      margin-left: 20px; }
      .galeriesHeader ul li:first-child {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #6F73EE;
        background: transparent;
        border: 1.3px solid #6F73EE; }

.galleryService {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px; }
  .galleryService img {
    background: #C4C4C4;
    border-radius: 10px; }
  .galleryService iframe {
    grid-column: 1 / 4;
    width: 100%;
    background: #C4C4C4;
    border-radius: 10px;
    height: 607px; }

.test-drive {
  background: #F4F7FB;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px; }
  .test-drive img {
    background: #F4F7FB;
    border-radius: 10px;
    margin-right: 71px; }
  .test-drive .formData h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-transform: uppercase;
    color: #282739;
    margin-top: 38px;
    margin-bottom: 11px;
    width: 496px; }
  .test-drive .formData p {
    font-size: 18px;
    line-height: 22px;
    color: #282739;
    margin-bottom: 27px; }
  .test-drive .formData form input {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.155em;
    color: #5D6C7B;
    padding: 15px 52px 15px 25px;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 5px;
    margin-right: 17px; }
  .test-drive .formData form button {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #6F73EE;
    border-radius: 5px;
    padding: 15px 25px;
    border: none; }
  .test-drive .formData form label p {
    font-size: 12px;
    line-height: 14px;
    color: #282739;
    background: url(../img/check.svg) no-repeat left center;
    padding-left: 28px;
    margin-top: 27px;
    cursor: pointer; }
    .test-drive .formData form label p a {
      text-decoration: underline; }
  .test-drive .formData form label input:checked + p {
    background: url(../img/checked.svg) no-repeat left center; }
  .test-drive .formData form label input {
    margin-bottom: 0;
    display: none; }

.feedback h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #282739; }
.feedback p {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 53px; }
  .feedback p a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6F73EE; }
    .feedback p a:after {
      content: url(../img/Arrow.svg);
      margin-left: 8px; }
.feedback .feedbackItems {
  display: grid;
  gap: 15px;
  grid-template-rows: 284px 284px;
  grid-template-columns: auto auto auto auto; }
  .feedback .feedbackItems .feedbackItem {
    border-radius: 10px; }
    .feedback .feedbackItems .feedbackItem > div {
      display: none;
      padding: 85px 25px 25px 25px;
      background: rgba(0, 0, 0, 0.7); }
      .feedback .feedbackItems .feedbackItem > div img {
        float: left;
        border-radius: 50%; }
      .feedback .feedbackItems .feedbackItem > div h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF; }
      .feedback .feedbackItems .feedbackItem > div p:first-child {
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.67;
        margin-bottom: 22px; }
      .feedback .feedbackItems .feedbackItem > div span:not(span:last-of-type) {
        display: inline-block;
        height: 14px;
        width: 14px;
        margin-right: 5px;
        background: url(../img/star.svg) no-repeat center; }
      .feedback .feedbackItems .feedbackItem > div span:last-of-type {
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.67;
        margin-left: 14px; }
      .feedback .feedbackItems .feedbackItem > div p:last-child {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-top: 11px; }
    .feedback .feedbackItems .feedbackItem:hover > div, .feedback .feedbackItems .feedbackItem > div:hover {
      display: block; }
    .feedback .feedbackItems .feedbackItem:hover {
      -webkit-filter: blur(5px);
              filter: blur(5px); }
    .feedback .feedbackItems .feedbackItem:first-child {
      background: url(../img/feedback1.jpg) no-repeat center; }
    .feedback .feedbackItems .feedbackItem:nth-child(2) {
      background: url(../img/feedback2.jpg) no-repeat center; }
    .feedback .feedbackItems .feedbackItem:nth-child(3) {
      background: url(../img/feedback3.jpg) no-repeat center; }
    .feedback .feedbackItems .feedbackItem:nth-child(4) {
      background: url(../img/feedback4.jpg) no-repeat center; }
    .feedback .feedbackItems .feedbackItem:nth-child(5) {
      background: url(../img/feedback5.jpg) no-repeat center; }
    .feedback .feedbackItems .feedbackItem:nth-child(6) {
      background: url(../img/feedback6.jpg) no-repeat center; }
    .feedback .feedbackItems .feedbackItem:last-child {
      background: url(../img/feedback7.jpg) no-repeat center; }

.videoContent {
  margin-top: 100px; }
  .videoContent .videoHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px; }
    .videoContent .videoHeader h2 {
      font-weight: 600;
      font-size: 35px;
      line-height: 51px;
      text-transform: uppercase;
      color: #282739; }
    .videoContent .videoHeader p {
      margin-left: auto; }
      .videoContent .videoHeader p a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #6F73EE; }
      .videoContent .videoHeader p a:after {
        content: url(../img/Arrow.svg);
        margin-left: 8px; }
  .videoContent p {
    font-size: 14px;
    line-height: 20px;
    color: #5D6C7B; }
  .videoContent .iframes {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 60px;
    padding-top: 50px;
    padding-left: 86px; }
    .videoContent .iframes div {
      width: 350px;
      background-color: white;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin-right: 30px; }
      .videoContent .iframes div iframe {
        width: 350px;
        height: 197px;
        background: #C4C4C4;
        border-radius: 10px; }
      .videoContent .iframes div p {
        padding: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #282739; }
    .videoContent .iframes button {
      height: 68px;
      width: 68px;
      background: url(../img/array-right.svg) no-repeat center;
      background-size: cover;
      border: none;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      bottom: calc(50% - 9px); }

.news {
  margin-top: 150px; }
  .news h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-transform: uppercase;
    color: #282739;
    margin-bottom: 40px; }
  .news .newsItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .news .newsItems .newsItem {
      margin-right: 30px;
      border-radius: 10px;
      background: #F4F7FB;
      padding: 20px 20px 60px 20px;
      position: relative;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-box-flex: 0;
          -ms-flex: 0 0;
              flex: 0 0; }
      .news .newsItems .newsItem img {
        margin: -20px -20px 20px -20px;
        border-radius: 10px 10px 0px 0px; }
      .news .newsItems .newsItem h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #282739;
        margin-bottom: 11px; }
      .news .newsItems .newsItem p {
        font-size: 14px;
        line-height: 20px;
        color: #282739; }
      .news .newsItems .newsItem span {
        position: absolute;
        bottom: 26px;
        font-size: 12px;
        line-height: 17px;
        color: #5D6C7B; }
        .news .newsItems .newsItem span:last-child {
          right: 20px; }
        .news .newsItems .newsItem span:last-child:before {
          content: url(../img/eye.svg);
          margin-right: 11px;
          vertical-align: -2px; }
        .news .newsItems .newsItem span:first-of-type::before {
          content: url(../img/calender.svg);
          margin-right: 11px;
          vertical-align: -3px; }
    .news .newsItems button {
      height: 68px;
      width: 68px;
      background: url(../img/array-right.svg) no-repeat center;
      background-size: cover;
      border: none;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      bottom: calc(50% - 32px); }

.faq {
  margin-top: 100px; }
  .faq h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #282739;
    margin-bottom: 60px; }
  .faq .questions {
    width: 726px;
    margin-left: auto;
    margin-right: auto; }
    .faq .questions .question {
      padding-top: 16px;
      padding-bottom: 16px;
      min-height: 75px;
      border-bottom: 1px solid #EAEBED; }
      .faq .questions .question label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #282739; }
      .faq .questions .question label:after {
        content: url(../img/cross.svg);
        margin-left: auto;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .faq .questions .question input {
        display: none; }
      .faq .questions .question input:checked + label:after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .faq .questions .question .answer {
        margin-top: 24px; }

/*# sourceMappingURL=style.css.map */